eNoAzAAz/zoEBUgQYATNYoi9yG1iCC9jg0c2BTDrXqFyMXdBKuu37W+cBMf1/bhNmEG1Ro7YBi3dTDA5Dkd37HkAC6eOMMq0NT2XlvKgf9gQQa8P+0qZezjdHQyR+T3jgFLxIj/YkbVHpnyTuipJXfJzH+qPeuPiN+GlHxQAqQoYNRiDVYih5BLx3Z4wG4zs2fnJBABw+upjAUwP0vflS08sDOg6nGVAY/D3lbQ5mFvXACx5pwLN4z7XM/n6aFnv/VphgWs854MpNdWyqCd+k1f5RgEAAP//PBxhhg==