eNoAzAAz/6d2RJxyweXwJ6uoGmWCHVFJGszeF/3eLPnmNmHcv7BjQIvI5EUbLZdHLVJtFuamCAqFMaHnNUad70OxlVmlXBmJ7rAlufEjk9ddpok1wg7e8BRxNGx8dM2TrrpYcFzJQMYyoL3aoc3CdjCQB8daTD2YJc2V0hTNfHT6TMMhWARmF0qlnpN/MqUvpw3lnnzw6NCLTqw3oDXCLPdqVguW1s0SV6CKzpVRBxV3OXn7utpBZleiQ2yrMXgl9DZg6Bv2BgqTNyCbPN5OseMzQwEAAP//wdtj3w==